*~
*.elc
abbrev_defs
auto-save-list
recentf
savehist
saveplace
eshell
elpa
quelpa
el-get
network-security.data
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
/prelude-modules.el
projectile-bookmarks.eld
session*
.cask
tramp
transient
/var/pcache
.emacs.desktop
.emacs.desktop.lock
games/tetris-scores
nix-buffer/trusted-exprs
elpy
.dap-breakpoints
.lsp-session-v1
